.app-nav {
  border-bottom: 5px solid $brand-primary;
  margin-bottom: 0;
  
  a {
    color: #fff;
    float: left;
    font-size: 22px;

    &:hover {
      background-color: $brand-primary;
    }
  }
}

.app-nav-brand {
  float: left;
  margin: 0 20px;
  padding: 10px 0 0;
  width: 20px;
}
