.modulo-header {
  @extend .box-border;
  @extend .background-white;
}

.modulo-resume-user {
  //@extend .h100vh;
  //@extend .background-white;
}

.modulo-call-filter {
  @extend .padding-15;
  @extend .box-border-bottom;
  @extend .z-index-upper;
  background-color: darken(#fff , 1%);
  label {
    @extend .margin-r-10;
  }

  &.affix {
    transform: translate3d(0, -56px, 0);
  }
}

.modulo-all-calls-warper {
  @extend .padding-40;
  @extend .box-border;
  background-color: darken(#fff , 5%);

  &.modulo-all-calls-warper-callid {
    //transition: opacity 200ms;
    transition-delay: 0;
    opacity: 0;
    border: 0;
    background-color: transparent;

  }
}

.modulo-user-info {
  @extend .background-white;
  @extend .box-border;
  @extend .padding-20;
  @extend .clearfix;
  position: relative;
  opacity: 0;
}