

.call-sumary {
  @extend .box-border;
  background-color: #fff;
  border-left: 5px solid $brand-success;

  position: relative;
  
  &.outbound {
    border-left: 0;
    border-right: 5px solid $brand-success;
    
    float: right;
    .row-flex {
      flex-direction: row-reverse;
    }

    .sms-notes {

    }
  }

  &.fail {
    border-color: $brand-danger;
  }

  &.warning {
    border-color: $brand-warning;
    border-left: 1px solid $brand-warning;
  }

  &.make-action {
    @extend .padding-15;
    background-color: transparent;
    border: 1px solid transparentize($brand-primary, .5);
    span {
      @extend .block;
    }
  }
}

.call-icon {

  @extend .text-align-center;
  @extend .pull-left;
  @extend .round;
  
  color: #fff;
  background-color: $brand-success;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 5px;
  margin-right: 10px;

  .fail & {
    background-color: $brand-danger;
  }

  .warning & {
    background-color: $brand-warning;
  }

  .make-action & {
    background-color: transparent;
    border: 1px solid transparentize($brand-primary, .5);
  }

}

.call-info {
  @extend .margin-10;
  flex: 0 1 auto;
  align-items: center;
  font-size: 12px;

  small {
    color: $gray-light;
    display: block;
  }

  
}
.sms-notes {
    //@extend .padding-0;
    transition: all 250ms;
    opacity: 1;
    overflow: hidden;
    max-height: 0;

    .opened & {
      max-height: 400px;
    }
}

.send-sms-notes {
  .btn {
    width: 100%;
  }
}


.call-extras {
  @extend .round;
  @extend .soft-box-shadow;
  @extend .background-white;
  position: absolute;
  right: -20px;
  top: 10px;
  width:  40px;
  height: 40px;

  i {
    padding: 6px 8px;
  }
  .outbound & {
    left: -20px;
  }
}