.avatar {
 	@extend .padding-10;
 	@extend .round;
 	@extend .text-align-center;
 	border: 1px solid $brand-primary;
	background-color: darken(#fff , 5%);
	width: 80px;
	height: 80px;
	color: $brand-primary;
 }

 .avatar-info {

 	.call-id {
 		@extend .margin-b-15;
 		@extend .block;
 		font-size: 20px;
 	}
 }

 .avatar-action {
 	position: absolute;
 	top: 5px;
 	right: 5px;
 	i {
 		font-size: 16px;
 	}
 }