.show-resume-callid {
	.modulo-all-calls-warper.with-action {
		//transition: width 250ms;
		@extend .padding-20;
		@extend .col-md-2;

		.call-info,
		.call-extras {
			display: none;
		}

		.call-icon {
			display: block;
		}
	}

	.modulo-all-calls-warper-callid,
	.modulo-user-info {
		//transition-delay: 400;
		//transition: opacity 100;
		opacity: 1;
	}

	.modulo-resume-user {
		//transition: width 250ms;
		@extend .col-md-10;

		.resume {
			//transition: width 250ms;
			@extend .col-md-9;

		}

		.keypad {
			//transition: width 250ms;
			@extend .col-md-3;
		}
	}
}