$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 46.7%); // #777
$gray-lighter:           lighten(#000, 93.5%); // #eee

$brand-primary: #4a89d5;
$brand-success: #5fc837;
$brand-info:    #5bc0de;
$brand-warning: #ffc200;
$brand-danger:  #c64432;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;


//== Scaffolding
//
//## Settings for some of the most global styles.

$body-bg: $gray-lighter;





