.background-white {
  background-color: #fff;
} 

.block {
  display: block;
}

.box-border {
  border: 1px solid darken($body-bg, 5%);
}

.box-border-bottom {
  border-bottom: 1px solid darken($body-bg, 5%);
}

.round {
  border-radius: 50%;
}

.main-box-shadow {
  box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
}

.soft-box-shadow { 
  box-shadow: 0 1px 0 rgba(100, 100, 100, .2);
}

.softer-box-shadow { 
  box-shadow: -1px 2px 2px rgba(100, 100, 100, .2);
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.h100vh {
  height: 100vh;
}


.z-index-upper {
  z-index: 1000;
}

.z-index-downer {
  z-index: 0;
}

.z-index-negative {
  z-index: -1;
}

.dimmed {
  transition: opacity 200ms;
  opacity: .4;
}

.margin {
  
  &-0 {
    margin: 0;
  }

  &-10 {
    margin: 10px;
  }

  &-20 {
    margin: 20px;
  }

  &-30 {
    margin: 30px;
  }

  &-tb {

    &-10 {
      margin: 10px 0;
    }

    &-20 {
      margin: 20px 0;
    }

    &-30 {
      margin: 30px 0;
    }
  }

  &-r{
    &-10{
      margin-right: 10px;
    }
  }

  &-t{
    &-0{
      margin-top: 0;
    }
  }

  &-b{
    &-10{
      margin-bottom: 10px;
    }
    &-15{
      margin-bottom: 15px;
    }
    &-20{
      margin-bottom: 20px;
    }
  }
}

.padding {
  &-0 {
    padding: 0;
  }

  &-5 {
    padding: 5px;
  }

  &-10 {
    padding: 10px;
  }

  &-15 {
    padding: 15px;
  }

  &-20 {
    padding: 20px;
  }

  &-30 {
    padding: 30px;
  }

  &-40 {
    padding: 40px;
  }

  &-t {

    &-10 {
      padding-top: 10px;
    }
  }

  &-l {
    &-10 {
      padding-left: 10px;
    }

    &-15 {
      padding-left: 15px;
    }
  }

  &-b {
    &-10 {
      padding-bottom: 10px;
    }

    &-15 {
      padding-bottom: 15px;
    }
  }

}

.text-align {
  &-center {
    text-align: center;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.transition {
  transition: all 250ms;
}
